@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="welcome-admin">
    <h1>Welcome Admin!</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="main-report-wrapper">
                <div class="main-report-icon">
                    <i class="fa fa-building"></i>
                </div>
                <div class="main-report-info">
                    <h3>83</h3>
                    <p>Departments</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-report-wrapper">
                <div class="main-report-icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <div class="main-report-info">
                    <h3>12</h3>
                    <p>Vacancies</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-report-wrapper">
                <div class="main-report-icon">
                    <i class="fa fa-align-center"></i>
                </div>
                <div class="main-report-info">
                    <h3>16</h3>
                    <p>Leave Letters</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="main-report-wrapper">
                <div class="main-report-icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="main-report-info">
                    <h3>18</h3>
                    <p>Adsent Employees</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="my-graph-report">
                <div id="chart_div"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="my-graph-report">
                <div id="chart_div2"></div>
            </div>
        </div>
    </div>
</div>
<script src="js/custom.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
            ['Month', 'Bolivia', 'Ecuador', 'Madagascar', 'Papua New Guinea', 'Rwanda', 'Average'],
            ['2004/05', 165, 938, 522, 998, 450, 614.6],
            ['2005/06', 135, 1120, 599, 1268, 288, 682],
            ['2006/07', 157, 1167, 587, 807, 397, 623],
            ['2007/08', 139, 1110, 615, 968, 215, 609.4],
            ['2008/09', 136, 691, 629, 1026, 366, 569.6]
        ]);

        var options = {
            title: 'Monthly Employee Attendance Report',
            vAxis: { title: 'Cups' },
            hAxis: { title: 'Month' },
            seriesType: 'bars',
            series: { 5: { type: 'line' } }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Age', 'Weight'],
            [8, 12],
            [4, 5.5],
            [11, 14],
            [4, 5],
            [3, 3.5],
            [6.5, 7]
        ]);

        var options = {
            title: 'Production Report',
            hAxis: { title: 'Age', minValue: 0, maxValue: 15 },
            vAxis: { title: 'Weight', minValue: 0, maxValue: 15 },
            legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div2'));

        chart.draw(data, options);
    }
</script>