@{
    ViewData["Title"] = "Department";
    Layout = "_AdminLayout";
}

<div class="my-breadcrumb">
    <ul>
        <li>Organic Deurali Farm</li>
        <li><i class="fa fa-angle-double-right"></i></li>
        <li>Add New Department</li>
    </ul>
</div>
<div class="crud-view-wrapper">
    <div class="crud-view-wrapper-parent">
        <div class="crud-view-wrapper-child">
            <div class="add-new-btn">
                <a href="/Department" class="btn btn-outline-success"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>
        <div class="crud-view-wrapper-child">
            <div class="oparation-title">
                <h3>Add New Department</h3>
            </div>
        </div>
    </div>
    <!-- add form -->
    <div class="add-new-form">
        <form action="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name <span>*</span></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter First Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-btn">
                <a href="#" class="btn btn-success ml-3">Add Department <i class="fa fa-plus"></i></a>
            </div>
        </form>
    </div>
    <!-- add form -->
</div>
<script src="js/custom.js"></script>
