@{
    ViewData["Title"] = "Department";
    Layout = "_AdminLayout";
}

                <div class="my-breadcrumb">
                    <ul>
                        <li>Organic Deurali Farm</li>
                        <li><i class="fa fa-angle-double-right"></i></li>
                        <li>Manage Department</li>
                    </ul>
                </div>
                <div class="crud-view-wrapper">
                    <div class="crud-view-wrapper-parent">
                        <div class="crud-view-wrapper-child">
                            <div class="add-new-btn">
                                <a href="Department/Create" class="btn btn-outline-success">Add New Department <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="crud-view-wrapper-child">
                            <div class="oparation-title">
                                <h3>Manage Department</h3>
                            </div>
                        </div>
                    </div>
                    <!-- view table -->
                    <table class="table table-hover table-bordered mt-4">
                        <thead>
                            <tr>
                                <th scope="col">S.N</th>
                                <th scope="col">Fname</th>
                                <th scope="col">Lname</th>
                                <th scope="col">DOB</th>
                                <th scope="col">Address</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Prabesh</td>
                                <td>Rijal</td>
                                <td>5-2-2021</td>
                                <td>Pokhara, Nepal</td>
                                <td>prabeshrijal5@gmail.com</td>
                                <td>98754552</td>
                                <td class="my-action-icons">
                                    <ul>
                                        <li class="mr-3"><a href="Department/Views"><i class="fa fa-eye"></i></a></li>
                                        <li class="mr-3"><a href="Department/Edit"><i class="fa fa-pen"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Praful</td>
                                <td>Tamrakar</td>
                                <td>5-2-2021</td>
                                <td>Pokhara, Nepal</td>
                                <td>prafultamrakar5@gmail.com</td>
                                <td>98754552</td>
                                <td class="my-action-icons">
                                    <ul>
                                        <li class="mr-3"><a href="#"><i class="fa fa-eye"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-pen"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Vivek</td>
                                <td>Gurung</td>
                                <td>5-2-2021</td>
                                <td>Pokhara, Nepal</td>
                                <td>vivekgurung5@gmail.com</td>
                                <td>98754552</td>
                                <td class="my-action-icons">
                                    <ul>
                                        <li class="mr-3"><a href="#"><i class="fa fa-eye"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-pen"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Vivek</td>
                                <td>Gurung</td>
                                <td>5-2-2021</td>
                                <td>Pokhara, Nepal</td>
                                <td>vivekgurung5@gmail.com</td>
                                <td>98754552</td>
                                <td class="my-action-icons">
                                    <ul>
                                        <li class="mr-3"><a href="#"><i class="fa fa-eye"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-pen"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Vivek</td>
                                <td>Gurung</td>
                                <td>5-2-2021</td>
                                <td>Pokhara, Nepal</td>
                                <td>vivekgurung5@gmail.com</td>
                                <td>98754552</td>
                                <td class="my-action-icons">
                                    <ul>
                                        <li class="mr-3"><a href="#"><i class="fa fa-eye"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-pen"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Vivek</td>
                                <td>Gurung</td>
                                <td>5-2-2021</td>
                                <td>Pokhara, Nepal</td>
                                <td>vivekgurung5@gmail.com</td>
                                <td>98754552</td>
                                <td class="my-action-icons">
                                    <ul>
                                        <li class="mr-3"><a href="#"><i class="fa fa-eye"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-pen"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Vivek</td>
                                <td>Gurung</td>
                                <td>5-2-2021</td>
                                <td>Pokhara, Nepal</td>
                                <td>vivekgurung5@gmail.com</td>
                                <td>98754552</td>
                                <td class="my-action-icons">
                                    <ul>
                                        <li class="mr-3"><a href="#"><i class="fa fa-eye"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-pen"></i></a></li>
                                        <li class="mr-3"><a href="#"><i class="fa fa-trash"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- view table -->
                </div>
<script src="js/custom.js"></script>
