@{
    ViewData["Title"] = "Department";
    Layout = "_AdminLayout";
}
<div class="my-breadcrumb">
    <ul>
        <li>Organic Deurali Farm</li>
        <li><i class="fa fa-angle-double-right"></i></li>
        <li>View All Information</li>
    </ul>
</div>
<div class="crud-view-wrapper">
    <div class="crud-view-wrapper-parent">
        <div class="crud-view-wrapper-child">
            <div class="add-new-btn">
                <a href="/Department" class="btn btn-outline-success"><i class="fa fa-arrow-left"></i> Back</a>
            </div>
        </div>
        <div class="crud-view-wrapper-child">
            <div class="oparation-title">
                <h3>View Information</h3>
            </div>
        </div>
    </div>
    <!-- view-details -->
    <div class="view-box-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="view-box-wrapper-parent">
                        <div class="view-box-wrapper-child">
                            <div class="info-image">
                                <img src="../../images/img-test2.jpg" alt="">
                            </div>
                        </div>
                        <div class="view-box-wrapper-child">
                            <div class="info-details">
                                <ul>
                                    <li><span>First Name:</span> Prabesh</li>
                                    <li><span>Last Name:</span> Rijal</li>
                                    <li><span>Email:</span> prabeshrijal67@gmail.com</li>
                                    <li><span>Phone:</span> 980655845</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- view-details -->
</div>
<script src="js/custom.js"></script>
