@{
    ViewData["Title"] = "Login";
}

<section class="employee-management-system-main-wrapper">
    <!-- navigation section -->
    <section class="navigation-section">
        <!-- login form -->
        <div class="login-form-wrapper">
            <div class="login-form">
                <div class="login-form-parent">
                    <!-- first child -->
                    <div class="login-form-child">
                        <div class="login-overlay"></div>
                        <div class="side-deco-image">
                            <img src="@Url.Content("~/Images/sign-up-bg.jpg")" alt="">
                        </div>
                        <div class="deco-animation">
                            <svg width="937" height="531" viewBox="0 0 937 531">
                                <rect id="Rectangle_32" data-name="Rectangle 32" width="937" height="531" />
                            </svg>
                        </div>
                        <div class="more-info">
                            <h3>Welcome Back!</h3>
                            <div class="more-info-btn">
                                <p>To keep connected with us please login with your personal information.</p>
                                <a href="pages/signin.html">SignIn</a>
                            </div>
                        </div>
                    </div>
                    <!-- first child -->
                    <!-- last child -->
                    <div class="login-form-child">
                        <div class="my-login-form">
                            <div class="login-title">
                                <h3>Login</h3>
                            </div>
                            <div class="login-icons">
                                <a>
                                    <div class="login-icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                </a>
                                <a>
                                    <div class="login-icon">
                                        <i class="fab fa-google-plus-square"></i>
                                    </div>
                                </a>
                                <a>
                                    <div class="login-icon">
                                        <i class="fab fa-linkedin"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="use-email">
                                <p>Use email for login</p>
                            </div>
                            <!-- data form -->
                            <form action="">
                                <!-- email -->
                                <div class="form-group">
                                    <label for=""><i class="fa fa-envelope"></i> Email</label>
                                    <input type="email" class="form-control" placeholder="Enter Email">
                                </div>
                                <!-- email -->
                                <!-- password -->
                                <div class="form-group">
                                    <label for=""><i class="fa fa-key"></i> Password</label>
                                    <input type="password" class="form-control" placeholder="Enter Password">
                                </div>
                                <!-- password -->
                                <div class="login-submit-btn">
                                    <a href="/Admin">Login</a>
                                </div>
                            </form>
                            <!-- data form -->
                        </div>
                    </div>
                    <!-- last child -->
                </div>
            </div>
        </div>
        <!-- login form -->
    </section>
    <!-- navigation section -->
</section>